<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Münster Public Transport App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        #map {
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Münster Public Transport</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>

        var mymap = L.map('map').setView([51.96, 7.62], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(mymap);

        var stopsGeoJSON = {{stops_geojson|tojson|safe}};

        // Create a MarkerClusterGroup
        var markers = L.markerClusterGroup();

        // Add GTFS bus stops to the map
        var stopsLayer = L.geoJSON(JSON.parse(stopsGeoJSON), {
            onEachFeature: function (feature, layer) {
                var popupContent = "Name: " + feature.properties.stop_name;
                layer.bindPopup(popupContent);
            }
        });

        markers.addLayer(stopsLayer);

        mymap.addLayer(markers);

        // Fit the map to the bounds of the MarkerClusterGroup
        mymap.fitBounds(markers.getBounds());

        // Get the user location and display it on a map
        var userMarker
        var nearestBusStop
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var userLat = position.coords.latitude;
                    var userLng = position.coords.longitude;

                    // Remove the previous user marker if it exists
                    if (userMarker) {
                        mymap.removeLayer(userMarker);
                    }

                    // Add a marker for the user's location
                    userMarker = L.marker([userLat, userLng]).addTo(mymap);
                    userMarker.bindPopup("Your Location").openPopup();

                    // Update the map view to center on the user's location
                    mymap.setView([userLat, userLng], 15);

                    // Send the user's position to the Flask backend
                    sendUserPositionToBackend(userLat, userLng);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function sendUserPositionToBackend(lat, lng) {
            var userPosition = {
                'latitude': lat,
                'longitude': lng
            };

            fetch('/process_user_position', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userPosition)
            })
            .then(response => response.json())
            .then(data => displayNearestBusStopFromUser(data))
            .catch(error => console.error('Error:', error));
        }

        function displayNearestBusStopFromUser(bus_stop) {
            // remove marker of nearest bus stop if it exists
            if (nearestBusStop) {
                mymap.removeLayer(nearestBusStop)
            }

            nearestBusStop = L.marker([bus_stop.nearest_bus_stop.latitude, bus_stop.nearest_bus_stop.longitude]).addTo(mymap)
            var popupContent = "Nearest Bus Stop: " + bus_stop.nearest_bus_stop.stop_name + "<br>Distance: " + bus_stop.nearest_bus_stop.distance.toFixed(0) + " m away"
            nearestBusStop.bindPopup(popupContent).openPopup()
        }

        getUserLocation()

        // Add the geocoder control
        var geocoderControl = L.Control.geocoder({
            geocoder: L.Control.Geocoder.nominatim()
        }).addTo(mymap);

        geocoderControl.on('markgeocode', function(event) {
            var geocode = event.geocode;
            var searchQuery = geocode.name;
            var coordinates = geocode.center;
            var destinationCoords = {
                'latitude': coordinates.lat,
                'longitude': coordinates.lng
            }

            fetch('/process_destination_coordinates', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(destinationCoords)
            })
            .then(response => response.json())
            .then(data => displayNearestBusStopFromDestination(data))
            .catch(error => console.error('Error:', error));
        })

        let destinationNearestBusStop
        function displayNearestBusStopFromDestination(bus_stop) {
            // remove marker of nearest bus stop from destination if it exists
            if (destinationNearestBusStop) {
                mymap.removeLayer(destinationNearestBusStop)
            }

            destinationNearestBusStop = L.marker([bus_stop.nearest_bus_stop.latitude, bus_stop.nearest_bus_stop.longitude]).addTo(mymap)
            var popupContent = "Nearest Bus Stop: " + bus_stop.nearest_bus_stop.stop_name + "<br>Distance: " + bus_stop.nearest_bus_stop.distance.toFixed(0) + " m away"
            destinationNearestBusStop.bindPopup(popupContent).openPopup()
        }

    </script>
</body>
</html>
